*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0px;
    background-color: #182C61;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    border: 1px solid red;
    margin: 0px auto;
}
