@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0px;
    background-color: #182C61;
    color: #ecf0f1;
}


header,
section h2 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 24px;
    font-size: 16px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
    transition: all 0.3s ease;
}

header nav li a:hover{
    color: #a5b3d8;
    text-decoration: none;
}

.container{
    display: flex;
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.brands-list img{
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 12px;
}

section{
    padding: 32px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p{
    margin-bottom: 12px;
    color: #182C61;
}

section .container > img{
    margin-right: 32px;
}

section{
    border: 1px solid red;
}
