@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea{
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0px;
    background-color: #182C61;
    color: #ecf0f1;
}


header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 24px;
    font-size: 16px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
    transition: all 0.3s ease;
}

header nav li a:hover{
    color: #a5b3d8;
    text-decoration: none;
}

.container{
    display: flex;
    margin: 0px auto;
    max-width: 1280px;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.brands-list img{
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 12px;
}

section{
    padding: 32px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p{
    margin-bottom: 12px;
    color: #182C61;
}

section .container > img{
    margin-right: 32px;
}

section{
    border: 1px solid red;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    border: 1px solid red;
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.contact-methods div h3{
    margin: 16px 0px;
}

#contact form{
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 12px;
}

#contact form input,
#contact form textarea,
#contact form button {
    padding: 8px;
    resize: none;
}

form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    transition: 0.3s ease all;
    height: 48px;
}

form button:hover{
    background-color: #2b489a;
    cursor: pointer;
}

input:focus,
textarea:focus{
    outline-color: #182c61;
}

footer{
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0px;
}
