*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body > header{
    background-color: #313131;
    padding: 24px 16px;
    color: #f5f6fa;
}

body > header h1{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif ;
}

header li{
    display: inline;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    width: 100%;
}

.articles article{
    width: 30%;
}

section {
    padding: 16px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin: 16px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.creation-date{
    color: #a5a6ab;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.articles article a{
    padding: 10px 16px;
    display: inline-block;
    text-decoration: none;
    margin-top: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

section h2{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 16px 0px;
}

#sports{
    background-color: rgba(83, 255, 91, 0.1);
}

#sports .articles article .button {
    border: 2px solid rgb(2, 73, 6);
    color: rgb(2, 73, 6);
}

#sports .articles article .button:hover{
    background-color: rgb(2, 73, 6);
    color: white;
}

#economy .articles article .button {
    border: 2px solid rgb(124, 87, 0);
    color: rgb(124, 87, 0);
}

#economy .articles article .button:hover{
    background-color: rgb(124, 87, 0);
    color: white;
}

#technology .articles article .button {
    border: 2px solid rgb(32, 36, 139);
    color: rgb(32, 36, 139);
}

#technology .articles article .button:hover{
    background-color: rgb(32, 36, 139);
    color: white;
}

#entertainment .articles article .button {
    border: 2px solid rgb(108, 13, 0);
    color: rgb(108, 13, 0);
}

#entertainment .articles article .button:hover{
    background-color: rgb(108, 13, 0);
    color: white;
}

#economy{
    background-color: rgba(255, 203, 80, 0.1);
}

#technology{
    background-color: rgba(73, 79, 255, 0.1);
}

#entertainment{
    background-color: rgba(255, 99, 79, 0.1);
}

