*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px;
    color: #f5f6fa;
}

header li{
    display: inline;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1366px;
    margin: 0 auto;
    border: red 1px solid;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    width: 100%;
}

.articles article{
    width: 30%;
    border: 1px solid red;
}

section {
    padding: 16px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin: 16px 0;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: rgba(0, 170, 0, 0.8);
}

#economy{
    background-color: rgba(255, 250, 101, 0.3);
}


#economy .articles article a{
    background-color: rgba(255, 159, 26, 0.8);
}
